<div id ="footer">
    <div class="grid grid-cols-3 pb-5">
        <div class="website footer-col">
            <h3>{{ 'FOOTER_OUR_ENTERPRISE'|trans({}, 'message' ) }}</h3>
            <img src="/images/logo_horizontal.png" alt="">
            <h4>{{ 'FOOTER_FOLLOW_US'|trans({}, 'message' ) }}</h4>
            <div id="follow-us">
                <img class="follow-us" src="/images/footer/facebook.png" alt="">
                <img class="follow-us" src="/images/footer/instagram.png" alt="">
                <img class="follow-us" src="/images/footer/github.png" alt="">
            </div>
            <a href="#"><button class="btn bg-blue">{{ 'FOOTER_CONTACT_US'|trans({}, 'message' ) }}</button></a>
        </div>
        <div class="partnership footer-col">
            <h3>{{ 'FOOTER_OUR_PARTNER'|trans({}, 'message' ) }}</h3>
            <div class="grid grid-cols-3">
                <div>
                    <img src="/images/footer/coingecko.png" alt="">
                    <img src="/images/footer/coinmarketcap.jpg" alt="">
                    <img src="/images/footer/debank.jpg" alt="">
                    <img src="/images/footer/subquery.png" alt="">
                    <img src="/images/footer/subscan.png" alt="">
                </div>
                <div>
                    <img src="/images/footer/binance.jpg" alt="">
                    <img src="/images/footer/kraken.jpg" alt="">
                    <img src="/images/footer/kucoin.png" alt="">
                    <img src="/images/footer/coinbase.png" alt="">
                    <img src="/images/footer/mexc.jpg" alt="">
                </div>
                <div>
                    <img src="/images/footer/huobi.jpg" alt="">
                    <img src="/images/footer/gate.png" alt="">
                    <img src="/images/footer/bittrex.jpeg" alt="">
                    <img src="/images/footer/chartjs.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="informations-link footer-col">
            <h3>{{ 'FOOTER_OUR_INFORMATIONS'|trans({}, 'message' ) }}</h3>
            <a href="#">{{ 'TEXT_CGU'|trans({}, 'message' ) }}</a><br>
            <a href="#">{{ 'TEXT_CGV'|trans({}, 'message' ) }}</a><br>
            <a href="#">{{ 'TEXT_LEGAL_NOTICE'|trans({}, 'message' ) }}</a><br>
            <a href="#">{{ 'TEXT_CONFIDENTIALITY'|trans({}, 'message' ) }}</a>
        </div>
    </div>
    <hr>
    <div id="copyright" class="text-center py-3">
        <h4>Copyright<sup>©</sup> 2023 <a href="www.vedfuture.fr">VedFuture</a> - {{ 'FOOTER_ALL_RIGHTS_RESERVED'|trans({}, 'message' ) }}</h4>
    </div>
</div>